<!DOCTYPE html>
<html lang="en">
<head>
    <%# add static file here %>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
       this came from js: <%= fname %>
    </h1>
</body>
</html>