body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f3f4f6;
}

#box {
    width: 100px;
    height: 100px;
    background-color: #3498db;
    border-radius: 10px;
}