// import modules
@use 'modules';

// import partials 
// all of file imported 
@import 'variables';
body {
    font-size: $font-medium;
    color: $text-color;
    background-color: $background-color;
    margin: $spacing-medium;
  }
  
  .button {
    background-color: $primary-color;
    color: #fff;
    padding: $spacing-small $spacing-medium;
    // modules using
    border: 5px solid modules.$cool-color;
    border-radius: 5px;
  
    &:hover {
      background-color: $secondary-color;
    }
  }